/* global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  width: 100vh;
  margin-left: 0%;
  margin-right: 0%;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}
.sidebar {
  display: grid;
  grid-template-rows: 40px auto 40px; /* SearchBar, ListedUser, Logout */
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 15px;
  gap: 15px;
  overflow-y: auto;
  height: 90vh;
}
.conversation {
    display: grid;
    grid-template-rows: auto 1fr auto; /* ConversationHeading, MessageList, InputField */
    background-color: #fff;
    padding: 15px;
    gap: 15px;
    overflow-y: auto;
    border-left: 1px solid #ddd;
    height: 90vh;
  }
